<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {51, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 42}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {51, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {49, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{49, 32}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{53, 76}, {49, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {51, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{51, 32}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 42}, {51, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {47, 40}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{47, 40}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 118}, {47, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {49, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{49, 38}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 46}, {49, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {49, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{49, 30}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{53, 110}, {49, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {49, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{49, 30}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 86}, {49, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {51, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{51, 38}</string>
			<key>spriteSourceSize</key>
			<string>{59, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 2}, {51, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{128, 256}</string>
	</dict>
</dict>
</plist>