<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {100, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{100, 84}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 2}, {100, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {98, 62}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{98, 62}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 150}, {98, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {98, 64}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{98, 64}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 88}, {98, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {94, 78}}</string>
			<key>spriteOffset</key>
			<string>{2, 9}</string>
			<key>spriteSize</key>
			<string>{94, 78}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 216}, {94, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {98, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{98, 72}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 76}, {98, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {96, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{96, 58}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 214}, {96, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 30}, {96, 60}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{96, 60}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 154}, {96, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 23}, {102, 72}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{102, 72}</string>
			<key>spriteSourceSize</key>
			<string>{118, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {102, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>